.film-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  border: 3px solid #530303;
  border-radius: 10px;
}

.film-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #a10808;
}

/* Imagem do filme */
.film-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Nome do filme */
.film-card h3 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #ffcc00;
}

/* Descrição do filme */
.film-card p {
  font-size: 0.9em;
  color: #b3b3b3;
  margin-bottom: 10px;
}

/* Link para detalhes */
.film-card a {
  display: inline-block;
  background-color: #d32929;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s ease-in-out;
}

.film-card a:hover {
  background-color: #a10808;
}
